* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style-position: inside;
}

/* body */
body {
  background-color: #F9F9F9;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html, body {
  min-height: 100%;

}

p, li {
  font-size: 20px;
  padding-top: 10px;
}



/* navigation bar */

nav {
  width: 100%;
}

.navbar {
  top: 0! important;
  width: 100%;
  position: fixed;
  overflow:hidden;
  background-color: black;
  opacity: 60%;
  text-align: center;
  padding: 20px;
}

.navbar a {
  margin: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  opacity: 100%;
  
}

.navbar a:hover {
  color: black;
}

/* title */
.header-container{
  margin: 30px 0px 30px 0px;
}
.header-text {
  font-size: 15vmin;
  text-align: center;
  }

/* about me */
.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:50px 0px 50px 0px;
  padding: 0px 200px 0px 200px;
  background-color: gray;
}

.about-me-image-container {
  min-width: 200px;
  padding: 40px;
}


.about-me-image {
  border-radius: 100%;
  width: 100%;
  }

.about-me-text-container {
  padding: 50px;
  color: white;
}

.about-me-text {
  font-size: 5vw;
}
/* blogs */
.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:20px;
  padding: 0px 200px 0px 200px;
  min-width: 200px;
}


.blog-header-container {
  background-color: gray;
  border-radius: 20px;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.blog-header {
  font-size: 50px;
  text-align: center;
  color: #F9F9F9;
}

@media (max-width:650px){
  .blog-header {
    font-size:30px;
  }
}

.blog-inner-container {
  width: 100%;
  background-color: #b8b8b8;
  border-radius: 20px;
  margin-top: 20px;
  padding: 50px 20px 50px 20px;
  text-align: center;
}

.blog-text-link {
  font-size: 3vmin;
}


